<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-sm-8 blog-main">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>    

      <% @articles.reverse.each do |article| %>
        
        <article>
          <%= link_to image_tag(article.image_url, class: "img-responsive", alt: "name of the image image01"), article %> 
          <h1><%= link_to article.title, article %></h1>
          <h6>Posted by <%= article.author %> on <%= article.created_at.strftime("%b %d, %Y %H:%M:%S") %></h6>
          <h5>Written by <%= article.author %></h5>
          <p><%= article.body.truncate(400) %></p>
          <%= link_to 'Read more', article, class: "btn btn-default" %>
        </article>

      <% end %>

      <div class="article-links">
        <%= link_to 'New Article', new_article_path %>
      </div>

    </div>

    <%= render 'sidebar' %>

  </div>
</div>


<!--
<h1>Listing Articles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Body</th>
      <th>Image url</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.author %></td>
        <td><%= article.body %></td>
        <td><%= image_tag(article.image_url) %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
-->


