
<div class="row">
  <div class="col-sm-8 blog-main">
    <article>
      <%= image_tag(@article.image_url, class: "img-responsive", alt: "name of the image image01") %> 
      <h1><%= @article.title %></h1>
      <h6>Posted by <%= @article.author %> on <%= @article.created_at.strftime("%b %d, %Y %H:%M:%S") %></h6>
      <h5>Written by <%= @article.author %></h5>

      <p><%= @article.body %></p>

      <div class="comments">  
        <%= render 'new_comment' %>
        <%= render 'comments' %>
      </div>

      <div class="article-links">
        <%= link_to 'Back', articles_path %> 
        <% if can? :edit, Article %>
          | <%= link_to 'Edit', edit_article_path(@article) %> 
        <% end %>
        <% if can? :destroy, Article %>
          | <%= link_to 'Delete', @article, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
    </div>
    </article>
  </div>

  <%= render 'sidebar' %>

</div>



