<!DOCTYPE html>
<html>
<head>
  <title>RailsBlog</title>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header"><%= link_to 'RailsBlog', root_path, class: "navbar-brand navbar-link custom-link"  %>
      <div class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></div>
    </div>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="<%= 'active' if current_page?(articles_path) %>"role="presentation"><%= link_to 'Blog', articles_path %></li>
        <li role="presentation"><a href="#footer">Contact</a></li>
        
      <% if user_signed_in? %>  
        <li class="dropdown" role="sign in">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              
            <% if current_user.first_name.blank? %>
              <%= current_user.email %>
            <% else %>
              <%= current_user.first_name %>
            <% end %>

            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Profile", user_path(current_user.id) %></li>
            <li><%= link_to("Logout", destroy_user_session_path, :method => :delete) %></li>
          </ul>
        </li>

      <% else %>
        <li><%= link_to "Sign in", new_user_session_path %></li>
      <% end %>

      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <% if notice %>
    <div class="notice alert alert-success alert-responses">
      <button class="close" data-dismiss="alert">&times;</button>
      <%= notice %>        
    </div>
  <% end %>
  <% if alert %>
    <div class="alert alert-danger alert-responses">
      <button class="close" data-dismiss="alert">&times;</button>
      <%= alert %>        
    </div>
  <% end %>

  <%= yield %>
</div>     

<footer class="container-fluid" id="footer">
  <div class="container">
   <div class="col-xs-8 col-sm-4 col-md-2 nav-block">
    <nav>
      <ul class="footer-navbar">
        <li><%= link_to 'Blog', articles_path %></li>
        <li><%= link_to 'About', articles_path %></li>
        <li><%= link_to 'Contact', articles_path %></li>
      </ul>
    </nav>
    <div class="social-buttons">
      <a href="https://facebook.com" class="fa-icon"><%= fa_icon "facebook-square" %></a>
      <a href="https://twitter.com" class="fa-icon"><%= fa_icon "twitter-square" %></a>
      <a href="https://github.com" class="fa-icon"><%= fa_icon "github-square" %></a>
    </div>
    <div id="copyright">
      &copy; RailsBlog 2016
    </div> 

   </div><!-- /container -->    
  </div><!-- /container-fluid -->
</footer>

</body>
</html>
